<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiqiding.lhplayerservicedebug"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowClearUserData="false"
        android:killAfterRestore="false" >
        <service
            android:enabled="true"
            android:name=".LHPlayerService"
            android:persistent="true"
            android:process="com.yiqiding.lhplayerservicedebug" >
            <intent-filter>
                <action android:name="com.yiqiding.action.lhplayerservicedebug" />
            </intent-filter>
        </service>
    </application>

</manifest>
